<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4>ジャンル一覧</h4>
    </div>

    <div class="col-xs-8 col-xs-offset-1">
      <h4>商品詳細</h4>
      <div class="row">
        <div class="col-xs-7">
          <%= attachment_image_tag @product, :image, fallback: "no_image.jpg", width: "100%", height: "auto" %>
        </div>

        <div class="col-xs-4">
          <div class="row">
            <h3><%= @product.name %></h3>
            <p><%= @product.explain %></p>
          </div>

          <div class="row">
            <h3>￥<%= @product.price %>円</h3>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>